<!-- <div>
    <h1 class="bb">{{ message }}</h1>
    <label @click="tt()">OK</label>
    <el-button type="primary">主要按钮</el-button>
</div> -->

<div class="controll_main_box">
    <div class="left_box">
        <!-- 个人信息 -->
        <div class="left_01_box">
            <div class="content_box">
                <img src="@/assets/imgs/emoloye_big.png" width="120px" height="120px">
                <span class="t1">张三</span>
                <span class="t2">技术部-java工程师</span>
            </div>
        </div>

        <div class="left_02_box">
            <!-- 标题 -->
            <div class="title_box" >
                <div class="title_left_box">
                    <img src="@/assets/imgs/controll_type.png" width="2px">
                    <span class="title_t1">公司公告</span>
                </div>
                <div class="title_right_box">
                    <span class="title_t2">更多</span>
                    <img src="@/assets/imgs/controll_go.png" width="6px">
                </div>
            </div>
            <!-- 间隔线 -->
            <div class="title_line"></div>
            <!-- 内容 -->
            <div class="content_box">
                <div class="com_column_box">
                    <!-- 消息 -->
                    <div class="item_1">
                        <img src="@/assets/imgs/controll_news.png" width="20px">
                        <el-link class="item_text" type="primary">主要链接</el-link>
                    </div>
                    <!-- 间隔线 -->
                    <div class="content_line"></div>
                </div>
                <div class="com_column_box">
                    <!-- 消息 -->
                    <div class="item_1">
                        <img src="@/assets/imgs/controll_news.png" width="20px">
                        <span class="item_text">消息一消息一消息一消息一消息一消息一</span>
                    </div>
                    <!-- 间隔线 -->
                    <div class="content_line"></div>
                </div>
                
            </div>
        </div>
        

    </div>
    <div class="middle_box">

        <div class="middle_01_box">
            <div class="content_box">
                <div class="item">
                    <span class="t1">一般性流程申请</span>
                    <span class="t2">一般性，自定义流程申请</span>
                </div>

                <div class="item">
                    <span class="t1">人事流程申请</span>
                    <span class="t2">人事相关流程申请，请假等</span>
                </div>

                <div class="item">
                    <span class="t1">财务流程申请</span>
                    <span class="t2">收款/付款申请等</span>
                </div>

                <div class="item">
                    <span class="t1">标题</span>
                    <span class="t2">123</span>
                </div>

                <div class="item">
                    <span class="t1">标题</span>
                    <span class="t2">123</span>
                </div>

                <div class="item">
                    <span class="t1">标题</span>
                    <span class="t2">123</span>
                </div>
            </div>
        </div>

        <div class="middle_02_box">
            <div class="middle_02a_box">
                <!-- 标题 -->
                <div class="title_box" >
                    <div class="title_left_box">
                        <img src="@/assets/imgs/controll_type.png" width="2px">
                        <span class="title_t1">代办事项</span>
                    </div>
                    <div class="title_right_box">
                        <span class="title_t2">更多</span>
                        <img src="@/assets/imgs/controll_go.png" width="6px">
                    </div>
                </div>
                <!-- 间隔线 -->
                <div class="title_line"></div>
                <!-- 内容 -->
                <div class="content_box">
                    <div class="com_column_box">
                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一</span>
                            </div>
                        </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    <div class="com_column_box">

                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                            </div>                    </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    <div class="com_column_box">

                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                            </div>                    </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    <div class="com_column_box">

                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                            </div>                    </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    <div class="com_column_box">

                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                            </div>                    
                        </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    <div class="com_column_box">

                        <!-- 消息 -->
                        <div class="item_1">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <div class="item_text_box">
                                <span class="item_type">类型名称</span>
                                <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                            </div>                    </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                    </div>
                    
    
                    
                </div>
            </div>

            <div class="middle_02b_box">
                <!-- 标题 -->
                <div class="title_box" >
                    <div class="title_left_box">
                        <img src="@/assets/imgs/controll_type.png" width="2px">
                        <span class="title_t1">抄送通知</span>
                    </div>
                    <div class="title_right_box">
                        <span class="title_t2">更多</span>
                        <img src="@/assets/imgs/controll_go.png" width="6px">
                    </div>
                </div>
                <!-- 间隔线 -->
                <div class="title_line"></div>
                <!-- 内容 -->
                <div class="content_box">
                    <div class="com_column_box">

                    <!-- 消息 -->
                    <div class="item_1">
                        <span class="item_type">类型名称</span>
                        <div class="item_text_box">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <span class="item_text">抄送人名称</span>
                        </div>                    </div>
                    <!-- 间隔线 -->
                    <div class="content_line"></div>
                    </div>

                    <div class="com_column_box">
                    <!-- 消息 -->
                    <div class="item_1">
                        <span class="item_type">类型名称</span>
                        <div class="item_text_box">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <span class="item_text">抄送人名称</span>
                        </div>                    </div>
                    <!-- 间隔线 -->
                    <div class="content_line"></div>
                    </div>

                    
                    <div class="com_column_box">

                    <!-- 消息 -->
                    <div class="item_1">
                        <span class="item_type">类型名称</span>
                        <div class="item_text_box">
                            <img src="@/assets/imgs/controll_news.png" width="20px">
                            <span class="item_text">抄送人名称</span>
                        </div>                    </div>
                    <!-- 间隔线 -->
                    <div class="content_line"></div>
                    </div>
                    
                    
    
                    
                </div>
            </div>
        </div>
        


    </div>
    <div class="right_box">

        <div class="right_01_box">
            <!-- 标题 -->
            <!-- <div class="title_box" >
                <div class="title_left_box">
                    <img src="@/assets/imgs/controll_type.png" width="2px">
                    <span class="title_t1">我的日历</span>
                </div>
            </div> -->
            <!-- 间隔线 -->
            <!-- <div class="title_line"></div> -->
            <!-- 内容 -->
            <div class="content_box">
                
                <el-calendar v-model="value">
                </el-calendar>

                <div class="right_02_box">
                    <!-- 标题 -->
                    <!-- <div class="title_box" >
                        <div class="title_left_box">
                            <img src="@/assets/imgs/controll_type.png" width="2px">
                            <span class="title_t1">备忘录</span>
                        </div>
                        <div class="title_right_box">
                            <span class="title_t2">更多</span>
                            <img src="@/assets/imgs/controll_go.png" width="6px">
                        </div>
                    </div> -->
                    <!-- 间隔线 -->
                    <!-- <div class="title_line"></div> -->
                    <!-- 内容 -->
                    <div class="content_box">
                        
                        <div class="com_column_box">
        
                            <!-- 消息 -->
                            <div class="item_1">
                                <span class="item_title">今日无备忘数据</span>
                            </div>
                            <!-- 间隔线 -->
                            <div class="content_line"></div>
                            </div>
        
                        <div class="com_column_box">
        
                        <!-- 消息 -->
                        <div class="item_1">
                            <span class="item_title">标题-标题-标题-标题</span>
                            <span class="item_text">消息一消息一消息一消息一消息一消息一</span>
                        </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                        </div>
                        <div class="com_column_box">
        
                        <!-- 消息 -->
                        <div class="item_1">
                            <span class="item_title">标题-标题-标题-标题</span>
                            <span class="item_text">消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一消息一</span>
                        </div>
                        <!-- 间隔线 -->
                        <div class="content_line"></div>
                        </div>
        
                        
                    </div>
                </div>
                
            </div>
        </div>


        
        

    </div>

</div>

