<!--项目立项 -->
<div class="add_main_box">
  <!-- 分割线 -->
  <div class="line_horizontal" style="margin-bottom: 10px;"></div>

  <!-- 项目立项 -->
  <div class="add_data_box_p">
    <div class="add_data_box">
      <div style="width: 100%;">
        <!-- 内容区域 -->
        <div class="row">
          <div class="add_data_item_box_2">
            <div class="add_txt_title">用户名称：</div>
            <el-input class="add_txt_value" v-model="loadView.name" placeholder="请输入内容"></el-input>
          </div>
        </div>

        <div class="row">
          <div class="add_data_item_box_2">
            <div class="add_txt_title">用户电话：</div>
            <el-input class="add_txt_value" v-model="loadView.mobile" placeholder="请输入内容"></el-input>
          </div>
        </div>

        <div class="row">
          <div class="add_data_item_box_2">
            <div class="add_txt_title">密码：</div>
            <el-input class="add_txt_value" v-model="loadView.password" placeholder="请输入内容"></el-input>
          </div>
        </div>

        <div class="row">
          <div class="add_data_item_box_2">
            <div class="add_txt_title">用户状态：</div>
            <el-input class="add_txt_value" v-model="loadView.status" placeholder="请输入内容"></el-input>
          </div>

        </div>



      </div>
    </div>
  </div>


  <!-- 内容区域结束   -->
  <div class="line_horizontal" style="margin-top:0px;"></div>
  <div class="add_data_btn_box">
    <div class="btn_ok_box">
      <el-button type="primary" @click="add(1)">保存并继续</el-button>
      <el-button type="primary" @click="add(2)">保存并关闭</el-button>
    </div>
    <el-button @click="closePage()">返回</el-button>
  </div>

</div>

